.m-grid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.m-grid {
  zoom: 1;
  /* for IE6 IE7 */
}
.m-grid:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.m-grid-1,
.m-grid-2,
.m-grid-3,
.m-grid-4,
.m-grid-5,
.m-grid-6,
.m-grid-7,
.m-grid-8,
.m-grid-9,
.m-grid-10,
.m-grid-11,
.m-grid-12,
.m-grid-13,
.m-grid-14,
.m-grid-15,
.m-grid-16,
.m-grid-17,
.m-grid-18,
.m-grid-19,
.m-grid-20,
.m-grid-21,
.m-grid-22,
.m-grid-23,
.m-grid-24 {
  min-height: 1px;
  float: left;
}
.m-grid-1 {
  width: 4.16666667%;
}
.m-grid-2 {
  width: 8.33333333%;
}
.m-grid-3 {
  width: 12.5%;
}
.m-grid-4 {
  width: 16.66666667%;
}
.m-grid-5 {
  width: 20.83333333%;
}
.m-grid-6 {
  width: 25%;
}
.m-grid-7 {
  width: 29.16666667%;
}
.m-grid-8 {
  width: 33.33333333%;
}
.m-grid-9 {
  width: 37.5%;
}
.m-grid-10 {
  width: 41.66666667%;
}
.m-grid-11 {
  width: 45.83333333%;
}
.m-grid-12 {
  width: 50%;
}
.m-grid-13 {
  width: 54.16666667%;
}
.m-grid-14 {
  width: 58.33333333%;
}
.m-grid-15 {
  width: 62.5%;
}
.m-grid-16 {
  width: 66.66666667%;
}
.m-grid-17 {
  width: 70.83333333%;
}
.m-grid-18 {
  width: 75%;
}
.m-grid-19 {
  width: 79.16666667%;
}
.m-grid-20 {
  width: 83.33333333%;
}
.m-grid-21 {
  width: 87.5%;
}
.m-grid-22 {
  width: 91.66666667%;
}
.m-grid-23 {
  width: 95.83333333%;
}
.m-grid-24 {
  width: 100%;
}
